<html>
<body style="background-color:powderblue;">

<p> <h1> <%= @game.player_1.name %> vs <%= @game.player_2.name %> </h1> </p>
<p> <h2> <%= @game.current_turn.name%>'s turn </p> </h2>
<p> <%= @game.player_1.name %>: <%= @game.player_1.hp %> HP </p>
<p> <%= @game.player_2.name %>: <%= @game.player_2.hp %> HP </p>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>

</body>
</html>